@import '../normalize.css';
.currency__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  padding: 10px 0px;
  width: 30%;
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 540px) {
  .currency__wrapper {
    width: 40%;
  }
}
@media (min-width: 740px) {
  .currency__wrapper {
    width: 140px;
  }
}

.currency__title {
  text-transform: uppercase;
  color: #676161;
}

* {
  margin: 0;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100dvw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 540px) {
  main {
    padding: 40px;
  }
}

.converter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#bab0af));
  background: -o-linear-gradient(#fafafa, #bab0af);
  background: linear-gradient(#fafafa, #bab0af);
  border-radius: 20px;
  -webkit-box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
}

.mainContent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currencies__container {
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 500px) {
  .currencies__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 460px;
  }
}
@media (min-width: 740px) {
  .currencies__container {
    max-width: 460px;
  }
}

.currencies__container--all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.block--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 860px) {
  .block--top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.heading {
  margin: 0;
  font-size: 28px;
}

.heading--2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.text--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 12px;
}

.rates {
  cursor: pointer;
}

.rates--all {
  color: #fafafa;
}

.rates--hide {
  color: #676161;
}

.icon {
  display: none;
  width: 100px;
  height: auto;
}
@media (min-width: 740px) {
  .icon {
    display: block;
  }
}

.none {
  display: none;
}