@import '../../variables';

.currency__wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0px;
    width: 30%;
    font-size: 20px;
    font-weight: 500;

    @media(min-width: 540px) {
        width: 40%;
    }

    @media(min-width: 740px) {
        width: 140px;
    }
}

.currency__title {
    text-transform: uppercase;
    color: $gray_dark;
}