@import '../normalize.css';
.button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: blue;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
}

.button:active {
  background: rgb(6, 14, 131);
}

.button:disabled {
  background: #f0f0f0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100dvw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.slide {
  background: #fafafa;
  min-width: 300px;
  height: 400px;
  border-radius: 16px;
  -webkit-box-shadow: 1px 5px 15px rgba(91, 91, 91, 0.5);
          box-shadow: 1px 5px 15px rgba(91, 91, 91, 0.5);
  border: 1px solid rgb(224, 224, 224);
  padding: 20px;
  text-align: center;
}

.image__wrapper {
  max-width: 200px;
  max-height: 130px;
  overflow: hidden;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
}

.slider__wrapper {
  overflow: hidden;
  padding: 20px;
}

.slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 80px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 40px;
}