@import '../normalize.css';
@import '../mixins';
@import './styles/button';

* {
    box-sizing: border-box;
}

main {
    @include main;
    padding: 20px;
}

.slide {
    background: #fafafa;
    min-width: 300px;
    height: 400px;
    border-radius: 16px;
    box-shadow: 1px 5px 5px rgba(91, 91, 91, 0.5);
    border: 1px solid rgb(224, 224, 224);
    padding: 20px;
    text-align: center;
}

.image__wrapper {
    max-width: 200px;
    max-height: 130px;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: auto;
}

.slider__wrapper {
    padding: 20px;
}

.slider__track {
    display: flex;
    flex-direction: row;
    gap: 80px;
    transition: 0.2s;
    margin-bottom: 40px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    list-style: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 8px 8px;
}