@import '../normalize.css';
@import '../variables';
@import '../mixins';

.content {
    padding: 20px 30px;
}

.button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    @include centered;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $gray_light;
    padding: 0.25rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transform: translateY(25px);
}

.button:hover {
    background: #1d90ff;
}

.button--visible {
    visibility: visible;
    opacity: 1;
    transform: 0;
}